*{
    margin:0;
    padding:0;
}
.header{
    display:flex;
    justify-content: space-between;
    background-color: lightgreen;
    align-items: center;
    padding:0.5rem 1rem;
}
.logo{
    width:4.5rem;
    border-radius: 50%;
}

.nav_item >ul{
    display: flex;
    list-style: none;
    gap:2rem;
    font-size:1.2rem;
}
.res_card{
    width:220px;
    border:1px solid black;
    display: flex;
    flex-direction: column;
    gap:0.5rem;
}
.res_container{
    display:flex;
    flex-wrap: wrap;
    padding:2rem 2rem;
    justify-content: space-between;
    row-gap: 2rem;
}
.res_img{
    width:100%;
    height:12rem;
}

.shimmer_container{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding:3rem 2rem;
    row-gap: 2rem;
}

.shimmer_card{
    width:220px;
    height:320px;
    background-color: lightgray;
}

.filter{
    padding-top:2rem;
    padding-left:2rem;
    display:flex;
    gap:2rem;
}

.search_input{
    width:18rem;
    text-indent: 1rem;
}
.search_input, .search_btn ,  .search{
    height:2rem;
    border-radius: 0.5rem;
    border:2px solid gray;
}
.search_btn ,  .search{
    padding:0 1rem;
}